<div>
  <h3>Aggiungi where</h3>
  <input [(ngModel)]="newCondition.field" placeholder="Field" />
  <select [(ngModel)]="newCondition.typeCondition">
    <option value="=">=</option>
    <option value="LIKE">LIKE</option>
  </select>

  <input [(ngModel)]="newCondition.condition" placeholder="Condition" />
  <button (click)="addWhere()">Aggiungi Where condition</button>


  <div *ngFor="let where of wheres">
    <p>ID: {{ where.field }} {{ where.typeCondition }} {{ where.condition }}</p>
    <button (click)="onDelete(where.field,where.typeCondition,where.condition)">delete</button>
  </div>
</div>
