<div class="sectionContainer">
  <div class="inputContainer">
    <input [(ngModel)]="newTable.name" placeholder="Table name" class="input" />
    <input
      [(ngModel)]="newTable.alias"
      placeholder="Table Alias"
      class="input"
    />
    <button (click)="addTable()">Add Table</button>
  </div>
  <hr />
  <b class="title">Tables</b>
  <br />
  <div *ngIf="tables && tables?.length === 0" class="notFound">
    Tables not found
  </div>

  <div
    class="elementContainer borderBottom"
    *ngIf="tables && tables?.length >= 1"
  >
    <div>
      <p>Table name</p>
      <p>Table alias</p>
    </div>
    <div>
      <p>Delete</p>
    </div>
  </div>

  <div *ngFor="let table of tables">
    <div class="elementContainer">
      <div>
        <p>{{ table.name }}</p>
        <p>{{ table.alias }}</p>
      </div>
      <mat-icon class="tab-icon" (click)="onDelete(table.name)"
        >delete</mat-icon
      >
    </div>
  </div>
</div>
