<div class="sectionContainer">
  <div class="inputContainer">
    <select [(ngModel)]="newJoin.type" class="input">
      <option value="INNER">INNER</option>
      <option value="LEFT">LEFT</option>
      <option value="RIGHT">RIGHT</option>
      <option value="FULL">FULL</option>
    </select>
    <input [(ngModel)]="newJoin.table" placeholder="Tabella" class="input" />
    <input [(ngModel)]="newJoin.on" placeholder="Condizione ON" class="input" />
    <button (click)="addJoin()">Add Join</button>
  </div>

  <hr />
  <b class="title">Joins</b>
  <br />
  <div *ngIf="joins && joins?.length === 0" class="notFound">
    Joins not found
  </div>

  <div
    class="elementContainer borderBottom"
    *ngIf="joins && joins?.length >= 1"
  >
    <div>
      <p>Join</p>
    </div>
    <div>
      <p>Delete</p>
    </div>
  </div>

  <div *ngFor="let join of joins">
    <div class="elementContainer">
      <p>{{ join.type }} {{ join.table }} {{ join.on }}</p>
      <mat-icon
        class="tab-icon"
        (click)="onDelete(join.type, join.table, join.on)"
        >delete</mat-icon
      >
    </div>
  </div>
</div>
