.row {
  max-width: 870px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.selectors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.preview {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.buttonContainer a {
  cursor: pointer;
}

.tab-item {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f1f1f1;
  margin-right: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tab-item a {
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
}

.tab-icon {
  font-size: 20px;
}
